<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="eu.openanalytics.jupyter.console.launch.JupyterConsoleLaunchDelegate"
            id="eu.openanalytics.jupyter.JupyterConsoleLaunchConfigType"
            modes="run"
            name="Jupyter Console">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eu.openanalytics.jupyter.console.launch.JupyterConsoleTabGroup"
            id="eu.openanalytics.jupyter.JupyterConsoleLaunchTabGroup"
            type="eu.openanalytics.jupyter.JupyterConsoleLaunchConfigType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="eu.openanalytics.jupyter.JupyterConsoleLaunchConfigType"
            icon="icons/jupyter-sq-16.png"
            id="eu.openanalytics.jupyter.JupyterConsoleLaunchImages">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.openanalytics.jupyter.console.view.GraphicsView"
            id="eu.openanalytics.jupyter.console.view.GraphicsView"
            name="Jupyter Graphics"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="eu.openanalytics.jupyter"
            defaultHandler="eu.openanalytics.jupyter.console.cmd.SubmitSelectionCmd"
            description="Submit the selected text to the active Jupyter console"
            id="eu.openanalytics.jupyter.console.cmd.SubmitSelectionCmd"
            name="Submit Selection">
      </command>
      <category
            id="eu.openanalytics.jupyter"
            name="Jupyter">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.openanalytics.jupyter.console.cmd.SubmitSelectionCmd"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ENTER">
      </key>
   </extension>

</plugin>
